<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="./Login_style.css">
</head>
<body>
    <div class="header">
        <p>首页</p>
    </div>
    <div class="sidebar">
        
    </div>
    <div class="box_content">
        <div class="box">
            <h1 id="Login">Login</h1>
            <form action="/login" method="post">
                <div class="input-box">
                    <label>账号</label>
                    <input type="text" name="userName">
                </div>
                <div class="input-box">
                    <label>密码</label>
                    <input type="password" name="userPwd">
                </div>
                <div class="btn-box">
                    <a href="#">忘记密码</a>
                    <div>
                        <button type="submit">登录</button>
                        <button type="submit">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<script src="./style.js"></script>
</body>
</html>