<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="./next_style.css">
</head>
<body>
    <div class="header">
        <p>首页</p>
    </div>
    <div class="sidebar">
        
    </div>
    <div class="content">
        <div class="left">
            <p>hello</p>
            <div>

            </div>
        </div>
        <div class="right">
            <p>u need me</p>
            <div>

            </div>
            <div>
                
            </div>
        </div>
    </div>
<script src="./style.js"></script>
</body>
</html>